# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/

# IDEs e editores
.vscode/
.idea/
*.swp

# Arquivos temporários
*.log
*.tmp
*.bak
~$*

# Arquivos de sistema
.DS_Store
Thumbs.db

